*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    background-color: rgb(212, 206, 198);
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(0, 0, 0);
    text-shadow:0 0 1.5px rgb(0, 0, 0);
    text-align: center;

}

.calculadora{
    background-color: rgb(226, 226, 226);
    border: 3px;
    border-color: black;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 10px black;

    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.botoes{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
}

.btn{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:15px;
    font-size:15px;
    border-radius: 10px;
    border-color:rgb(219, 217, 214);
    font-size: 20px;
}

#display{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 20px;
}

.duplo{
    grid-column: span 2;
}
